@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>Sanitized Input</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Raw input</label>
                <p class="form-control">@Model.RawInput</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Json input</label>
                <p class="form-control">@Model.JsonInput</p>
            </div>
        </div>
    </div>
</div>
